{% load static %}
{% load base_utils %}

{% if request.path != '/schedule/' %}
{% get_new_games 4 as new_games %}
<div class="card overflow-hidden mb-3">
  <div class="card-header bg-light">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="mb-0">Следующие игры</h6>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    {% for obj in new_games %}
      <div class="row no-gutters align-items-center py-2 position-relative
        {% if obj != new_games|last %}border-bottom border-200{% endif %}">
        <div class="col pl-card py-1 position-static">
          <div class="media align-items-center">
            <div class="avatar avatar-xl mr-3">
              <img class="rounded-circle" src="{% static obj.team_one.logo %}" alt="">
            </div>
            <div class="media-body">
              <h6 class="mb-0 d-flex align-items-center text-800">
                {{ obj.team_one.name }}
              </h6>
            </div>
          </div>
        </div>
        <div class="col pl-card py-1 position-static">
          <div class="media align-items-center">
            <div class="media-body">
              <div class="d-flex align-items-center">
                <h6 class="text-800 ml-auto mb-0">{{ obj.team_two.name }}</h6>
              </div>
            </div>
            <div class="avatar avatar-xl mx-3">
              <img class="rounded-circle" src="{% static obj.team_two.logo %}" alt="">
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <h5 class="text-center py-3">Тут пусто</h5>
    {% endfor %}
  </div>
  <div class="card-footer bg-light p-0">
    <a class="btn btn-sm btn-link btn-block py-2" href="{% url 'all_new_games' %}">
      Подробнее <span class="fas fa-chevron-right ml-1 fs--2"></span>
    </a>
  </div>
</div>
{% endif %}

{% if request.path != '/team/old_games/' %}
{% get_old_games 8 as old_games %}
<div class="card overflow-hidden">
  <div class="card-header bg-light">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="mb-0">Результаты прошлых игр</h6>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    {% for obj in old_games %}
      <div class="row no-gutters align-items-center py-2 position-relative
        {% if obj != old_games|last %}border-bottom border-200{% endif %}">
        <div class="col pl-card py-1 position-static">
          <div class="media align-items-center">
            <div class="avatar avatar-xl mr-3">
              <img class="rounded-circle" src="{% static obj.team_one.logo %}" alt="">
            </div>
            <div class="media-body">
              <h6 class="mb-0 d-flex align-items-center text-800">
                {{ obj.team_one.name }}
              </h6>
            </div>
          </div>
        </div>
        <div class="col pl-card py-1 position-static text-center">
          <h5 class="m-0">{{ obj.result }}</h5>
        </div>
        <div class="col pl-card py-1 position-static">
          <div class="media align-items-center">
            <div class="media-body">
              <div class="d-flex align-items-center">
                <h6 class="text-800 ml-auto mb-0">{{ obj.team_two.name }}</h6>
              </div>
            </div>
            <div class="avatar avatar-xl mx-3">
              <img class="rounded-circle" src="{% static obj.team_two.logo %}" alt="">
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <h5 class="text-center py-3">Тут пусто</h5>
    {% endfor %}
  </div>
  <div class="card-footer bg-light p-0">
    <a class="btn btn-sm btn-link btn-block py-2" href="{% url 'old_games' %}">
      Все результаты <span class="fas fa-chevron-right ml-1 fs--2"></span>
    </a>
  </div>
</div>
{% endif %}