.dropdown-item-cast {
    color: #9da9bb;
}

.dropdown-item-cast:hover {
    color: #edf2f9;
    background-color: #061325;
}

.dropdown-item-cast:active {
    color: #edf2f9;
    background-color: #344050;
}

.navbar .dropdown-menu:after {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0%);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0%);
}

.news_img {
    height: 10rem;
}

.wrapper {
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper-item, .wrapper-item-old {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.wrapper-item {
    min-width: 260px;
}

.wrapper-item-old {
    min-width: 300px;
}
@media screen and (min-width: 900px) {
    .news_img {
        height: 50vh;
    }
}