{% extends 'base_templates.html' %}
{% load static %}

{% block title %}BadnyPlace — Магазин{% endblock %}

{% block content %}
<div class="row my-2">
  <div class="d-flex justify-content-center">
    <div class="echart-doughnut" style="height: 242px; width: 242px;" data-echart-responsive="true"> </div>
  </div>
  <div class="col-12 col-lg-9">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex">
          <h4 class="mb-0">Магазин</h4>
          {% if request.user.is_staff %}
          <a href="{% url 'add_prod' %}" class="btn btn-falcon-default btn-sm ml-auto" type="button">
            <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span> Добавить
          </a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          {% for obj in object_list %}
          <div class="mb-4 col-md-6 col-lg-4">
            <div class="border rounded h-100 d-flex flex-column justify-content-between pb-3">
              <div class="overflow-hidden">
                <div class="position-relative rounded-top overflow-hidden">
                  <a class="d-block" href="{{ obj.url_shop }}">
                    <img class="img-fluid rounded-top" src="{% static obj.image %}" alt="">
                  </a>
                  {% if obj == object_list|first %}
                  <span class="badge badge-pill badge-success position-absolute r-0 t-0 mt-2 mr-2 z-index-2">New</span>
                  {% endif %}
                </div>
                <div class="p-3">
                  <h5 class="text-dark fs-0 mb-2">
                    {{ obj.name }}
                  </h5>
                  <p class="text-500 fs--1 mb-0">{{ obj.description }}</p>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between px-3">
                <div>
                  <h5 class="fs-md-2 text-warning">{{ obj.price }}p</h5>
                </div>
                <div>
                  {% if request.user.is_staff %}
                  <a href="{% url 'delete_prod' obj.pk %}" class="btn btn-falcon-danger" type="button">
                    <i class="fas fa-trash"></i>
                  </a>
                  <a href="{% url 'update_prod' obj.pk %}" class="btn btn-falcon-default mx-1" type="button">
                    <i class="fas fa-pen"></i>
                  </a>
                  {% endif %}
                  <a href="{{ obj.url_shop }}" class="btn btn-falcon-success" type="button">Купить</a>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="card-body p-0 overflow-hidden">
            <div class="row no-gutters">
              <div class="col-12 py-2 px-3 {% cycle '' 'bg-100' %}">
                <div class="p-1 text-center">
                  <h4>Тут пусто</h4>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="card-footer bg-light d-flex justify-content-center">
        {% include 'include/pagination.html' %}
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3">
    {% include 'include/sidebar.html' %}
  </div>
</div>
{% endblock %}