{% extends 'base_templates.html' %}
{% load static %}
{% load base_utils %}

{% block title %}BadnyPlace — Главная{% endblock %}

{% block content %}
<div class="row my-2">
  {% get_news 2 as news %}
  {% for obj in news %}
  <div class="col-12 col-lg-6 px-lg-2 mb-3">
    <div class="card">
      <a href="{% url 'one_post' obj.slug %}" style="height: 40vh;">
        <div class="d-flex card-img h-100" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url({% static obj.image %}) 50% 50% no-repeat; background-size:cover;">
            <h4 class="text-white text-center mx-3 mb-3 mt-auto" style="text-shadow: 0.1em 0.1em 0.1em #000;">
              {{ obj.title }}
            </h4>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}

  <div class="col-12 mb-3">
    <h5 class="mb-3">Следующие игры</h5>
    {% get_new_games 5 as new_games %}
    <div class="d-flex w-100 wrapper">
      {% for obj in new_games %}
      <div class="card wrapper-item">
        <div class="card-body px-1 py-3">
          <a href="{% url 'all_new_games' %}">
            <div class="row no-gutters align-items-center position-relative">
              <div class="col pl-card py-1 position-static">
                <div class="media align-items-center">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="{% static obj.team_one.logo %}" alt="">
                  </div>
                  <div class="media-body">
                    <h6 class="mb-0 d-flex align-items-center text-800">
                      {{ obj.team_one.name }}
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col pl-card py-1 position-static ml-2">
                <div class="media align-items-center">
                  <div class="media-body">
                    <div class="d-flex align-items-center">
                      <h6 class="text-800 ml-auto mb-0">{{ obj.team_two.name }}</h6>
                    </div>
                  </div>
                  <div class="avatar avatar-xl mx-3">
                    <img class="rounded-circle" src="{% static obj.team_two.logo %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 mb-3">
    <h5 class="mb-3">Итоги прошедших игр</h5>
    {% get_old_games 4 as old_games %}
    <div class="d-flex w-100 wrapper">
      {% for obj in old_games %}
      <div class="card wrapper-item-old">
        <div class="card-body px-1 py-3">
          <a href="{% url 'old_games' %}">
            <div class="row no-gutters align-items-center position-relative">
              <div class="col pl-card py-1 position-static">
                <div class="media align-items-center">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="{% static obj.team_one.logo %}" alt="">
                  </div>
                  <div class="media-body">
                    <h6 class="mb-0 d-flex align-items-center text-800">
                      {{ obj.team_one.name }}
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col pl-card py-1 position-static text-center">
                <h5 class="m-0">{{ obj.result }}</h5>
              </div>
              <div class="col pl-card py-1 position-static">
                <div class="media align-items-center">
                  <div class="media-body">
                    <div class="d-flex align-items-center">
                      <h6 class="text-800 ml-auto mb-0">{{ obj.team_two.name }}</h6>
                    </div>
                  </div>
                  <div class="avatar avatar-xl mx-3">
                    <img class="rounded-circle" src="{% static obj.team_two.logo %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% get_prods 4 as prods %}
  <h5 class="mb-3">Новые товары</h5>
  {% for obj in prods %}
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <div class="border rounded h-100 d-flex flex-column justify-content-between pb-3">
      <div class="overflow-hidden">
        <div class="position-relative rounded-top overflow-hidden">
          <a class="d-block" href="{{ obj.url_shop }}">
            <img class="img-fluid rounded-top" src="{% static obj.image %}" alt="">
          </a>
          <span class="badge badge-pill badge-success position-absolute r-0 t-0 mt-2 mr-2 z-index-2">New</span>
        </div>
        <div class="p-3">
          <h5 class="text-dark fs-0 mb-2">
            {{ obj.name }}
          </h5>
          <p class="text-500 fs--1 mb-0">{{ obj.description }}</p>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between px-3">
        <div>
          <h5 class="fs-md-2 text-warning">{{ obj.price }}p</h5>
        </div>
        <div>
          <a href="{{ obj.url_shop }}" class="btn btn-falcon-success" type="button">Купить</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}