{% extends 'base_templates.html' %}
{% load static %}

{% block title %}BadnyPlace — Новости{% endblock %}

{% block content %}
<div class="row my-2">
  <div class="col-12 col-lg-9">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex">
          <h4 class="mb-0">Все новости</h4>
          {% if request.user.is_staff %}
          <a href="{% url 'add_post' %}" class="btn btn-falcon-default btn-sm ml-auto" type="button">
            <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span> Добавить
          </a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="card mb-3 px-0">
      {% for post in object_list %}
      <div class="card-body p-0 overflow-hidden">
        <div class="row no-gutters">
          <div class="col-12 py-2 px-3 {% cycle '' 'bg-100' %}">
            <div class="p-1">
              <div class="row" style="min-height: 10rem;">
                <div class="col-sm-5 col-md-4">
                  <div class="position-relative h-sm-100">
                    <a class="d-block h-100" href="{% url 'one_post' post.slug %}">
                      <img class="img-fluid fit-cover w-sm-100 h-sm-100 rounded absolute-sm-centered" src="{% static post.image %}" alt="">
                    </a>
                  </div>
                </div>
                <div class="col-sm-7 col-md-8">
                  <div class="d-flex flex-column h-100">
<!--                    <img class="position-absolute b-0 r-0" src="{% static 'image/corner.png' %}" width="130" style="top: 50px; left: 590px; display: {% cycle 'block' 'none' %};">-->
                    <h5 class="mt-3 mt-sm-0">
                      <a class="text-dark fs-0 fs-lg-1" href="{% url 'one_post' post.slug %}">{{ post.title }}</a>
                    </h5>
                    <p class="fs--1 mb-2 mb-md-3 text-500">{{ post.body|striptags|truncatechars:280 }}</p>
                    <div class="d-flex mt-auto">
                      {% if request.user.is_staff %}
                      <a href="{% url 'delete_post' post.slug %}" class="btn btn-falcon-danger btn-sm py-1" type="button">
                        <i class="fas fa-trash"></i>
                      </a>
                      <a href="{% url 'update_post' post.slug %}" class="btn btn-falcon-default btn-sm ml-2 py-1" type="button">
                        <i class="fas fa-pen"></i>
                      </a>
                      {% endif %}
                      <p class="fs--1 text-500 ml-auto mt-auto mb-0">{{ post.date_creation }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="card-body p-0 overflow-hidden">
        <div class="row no-gutters">
          <div class="col-12 py-2 px-3 {% cycle '' 'bg-100' %}">
            <div class="p-1 text-center">
              <h4>Тут пусто</h4>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% resetcycle %}
      <div class="card-footer border-top d-flex justify-content-center">
        {% include 'include/pagination.html' %}
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3">
    {% include 'include/sidebar.html' %}
  </div>
</div>
{% endblock %}